.isac-bg-blue {
    background-color: #0050F9;
}

.isac-shadow {
    box-shadow: 0 8px 40px 0 rgba(138, 149, 158, 0.25);
}

.isac-shadow-xs {
    box-shadow: 0 2px 8px 0 rgba(138, 149, 158, 0.1);
}

.isac-shadow-sm {
    box-shadow: 0 4px 12px 0 rgba(138, 149, 158, 0.15);
}

.isac-shadow-md {
    box-shadow: 0 4px 16px 0 rgba(138, 149, 158, 0.15);
}

.isac-shadow-lg {
    box-shadow: 0 10px 20px -5px rgba(138, 149, 158, 0.3);
}
