.isac-bg-blue {
  background-color: #0050F9;
}

.isac-bg-gray {
  background-color: #334155;
}

.isac-bg-lighter {
  background: rgba(51, 65, 85, 0.07);
}

.isac-active-bg {
  background: rgba(255, 255, 255, 0.30);
}
